*.7z

.windows-serial
*.o
*.a
*.exe
*.dll
.*.swp
*.so
*.so.*
*.glade~

compile_commands.json

seth-dkt-and-sdk-windows/

desktop/sethcli.conf
desktop/sethcli_conf.c
desktop/frontend-gtk-glade.h
desktop/frontend-gtk-menu.h
desktop/sethdkt-cli
desktop/sethdkt-gtk
desktop/seth4win.res

libseth/seth-nkgetpin
libseth/seth-dumpmeta
libseth/seth-genhdr
libseth/seth-split
libseth/seth-strip
libseth/seth-*-sls
