openwrt/build.sh
openwrt/ipkg-build
openwrt/ipkg-common

*.7z

.windows-serial
*.o
*.a
*.exe
*.dll
.*.swp
*.so
*.so.*

compile_commands.json

seth-sdk-windows/

desktop/sethcli.conf
desktop/sethcli_conf.c
desktop/frontend-gtk-glade.h
desktop/sethdkt-cli
desktop/sethdkt-gtk
desktop/seth4win.res

libseth/seth-nkgetpin
libseth/seth-dumpmeta
libseth/seth-genhdr
libseth/seth-split
libseth/seth-*-sls
