[Desktop Entry]
Version=1.0
Name=Seth Desktop (Gtk)
Exec=sethdkt-gtk
Icon=preferences-system-network
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;Network;
StartupNotify=true
X-KDE-StartupNotify=false
