id ICON "seth4win.ico"

1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "The-Seth-Project"
      VALUE "FileDescription", "Seth Desktop frontends for Windows"
      VALUE "FileVersion", "see internal"
      VALUE "InternalName", "sethdkt"
      VALUE "LegalCopyright", "MIT"
      VALUE "OriginalFilename", "sethdkt"
      VALUE "ProductName", "Seth-Desktop"
      VALUE "ProductVersion", "see internal"
    END
  END
  BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
